.h {
    font-size: 300px;
    background: url(https://cdn.stocksnap.io/img-thumbs/280h/bird-spoonbill_OXW52JDMAI.jpg);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.j {
    font-size: 300px;
    background: url(https://cdn.stocksnap.io/img-thumbs/280h/bird-spoonbill_OXW52JDMAI.jpg);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    background-attachment: fixed;
}